@model IEnumerable<BookRecomendationWebApp.Models.BookViewModel>

@{
    ViewBag.Title = "DisplayResultsUsingWebAPIAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayResultsUsingWebAPIAsync</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.review1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.review1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.ActionLink("Review", "AddReviews", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
